canvas {
	position: absolute;
	top: 0;
	left: 0;
}
p {
	margin: 0 0;
	position: absolute;
	font: 16px Verdana;
	color: #eee;
	height: 25px;
	top: calc( 100vh - 30px );
	text-shadow: 0 0 2px white;
}
p a {
	text-decoration: none;
	color: #aaa;
}
span {
	font-size: 11px;
}
p > a:first-of-type {
	font-size: 20px;
}
body {
	overflow: hidden;
}

/* Mengatur ukuran dan tampilan canvas */
canvas {
    display: block;
}

/* Menampilkan tautan di bagian bawah halaman */
.link-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(8, 7, 7, 0.8); /* Latar belakang semi-transparan */
    padding: 10px 0;
}

@keyframes showButton {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Style untuk tombol */
.animated-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 15px rgba(8, 7, 7, 0.8);
}

/* Hover effect untuk tombol */
.animated-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* Klik effect untuk tombol */
.animated-button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Centering the link container */
.link-container {
    text-align: center;
    margin-top: 20px;
}

